<section class="content">
  <div class="col-lg-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Thông tin gian hàng</h3>
        <div class="box-tools">
          <div block-bind="toolbar"></div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive">
        <div
          block-bind="content"
          class="row"
          style="margin-right: 0px; margin-left: 0px"
        >
          <div class="col-lg-12 base-content">
            <div class="form-group">
              <label>Mã gian hàng</label>
              <input
                type="text"
                data-bind="value:ma_gian_hang"
                class="form-control inputbox"
              />
            </div>
            <div class="form-group">
              <label>Tên gian gian hàng</label>
              <input
                type="text"
                data-bind="value:ten_gian_hang"
                class="form-control inputbox"
              />
            </div>
            <div class="form-group">
              <label>Loại gian hàng</label>
              <input
                type="text"
                data-bind="value:loai_gian_hang.ten_loaigianhang"
                class="form-control inputbox"
              />
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
    <div id="grid" class="row list-user"></div>
  </div>
  <div class="card-body row">
    <div class="col-12 out-click">
      <div class="box-header with-border px-0">
        <h3>Danh sách hàng hóa</h3>
        <div class="box-tools">
          <div
            block-bind="btn-inline"
            style="position: relative; display: inline-flex"
          >
            <div id="add_row1"></div>
            <!-- <button type="button" class="btn btn-warning btn-sm">
              Xoá bộ lọc
            </button> -->
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-around align-items-center w-100">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" class="text-center" style="width: 30%">
                Mã hàng hóa
              </th>
              <th scope="col" class="text-center" style="width: 20%">
                Tên hàng hóa 
              </th>
              <th scope="col" class="text-center" style="width: 8%">
                Giá 
              </th>
              <th scope="col" class="text-center" style="width: 10%">Vat</th>
              <th scope="col" class="text-center" style="width: 30%">
                Trạng thái 
              </th>
              <th scope="col" style="width: 2%">
                Hình ảnh
              </th>
            </tr>
          </thead>
          <tbody id="item-data" data-bind="list:items"></tbody>
        </table>
      </div>
    </div>
  </div>
</section>
