<td class="row-item">
  <input class="form-control text-center" data-bind="value:ma" readonly/>
</td>
<td class="row-item">
  <input class="form-control text-center" data-bind="value:ten" readonly />
</td>
<td class="row-item">
  <input class="form-control text-center" data-bind="value:gia" readonly />
</td>
<td class="row-item">
  <input class="form-control text-center level" data-bind="value:vat" readonly/>
</td>
<td class="row-item">
  <input class="form-control text-center" data-bind="value:ghichu" readonly/>
</td>
<td class="row-item">
  <button type="button" class="btn btn-sm btn-outline-danger" id="itemRemove">
    <i class="cil-x"></i>
  </button>

</td>
