<section class="content">
  <div class="col-lg-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Quản lý hàng hóa</h3>
        <div class="box-tools">
          <div block-bind="toolbar"></div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding" style="min-height: 600px;">
        <div id="grid" data-bind="collection:$collection"></div>
      </div>
      <hr />
    </div>
  </div>
</section>
